
DbHost=localhost__EDIT_ME__
DbPort=3306
DbUser=user__EDIT_ME__
DbPassword=xxx__EDIT_ME__
Database=mydb__EDIT_ME__
DbSsl=true

DbTables=users

CaPath=../PATH/TO/BaxxxCyberTrustRoot.crt.pem

DumpPath=./dump.sql
Compress=true
